.site-footer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid $white;
  display: flex;
  background-image: url("../../assets/repeat_pattern.svg");

  .site-footer-inner {
    background-color: $black;
    display: inline-block;
    padding: 0.5em;
    border: 2.5px solid $white;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      b {
        margin-right: 5px;
      }
    }

  }


}
