.site-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    height: 200px;
  }
}

.site-navbar {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $green;

  div {
    display: flex;
    align-items: center;

    a {
      font-weight: bold;
      color: $white;
    }
  }

  div:nth-child(1) a {
    display: block;
    border-bottom: 5px solid transparent;
    transition: border-color 0.1s ease-in;
  }

  div:nth-child(1) a:not(:first-child) {
    margin-left: 15px;
  }

  div:nth-child(1) a.active {
    color: $green;
    border-color: $green;

    &:hover {
      color: $green;
    }
  }

  div:nth-child(1) a:hover {
    color: $white;
    border-color: $green;
  }
}

.socials {
  display: flex;
  align-items: center;
  color: $white;
  font-weight: bold;
  padding-bottom: 5px;

  span {
    margin-left: 5px;
  }

  &:hover {
    color: $green;
  }
}
