.site-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    height: 200px;
  }
}

.site-navbar {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  div:nth-child(1) a {
    display: block;
    border-bottom: 3px solid transparent;
    transition: border-color 0.1s ease-in;
  }

  div:nth-child(1) a:not(:first-child) {
    margin-left: 10px;
  }

  div:nth-child(1) a.active {
    color: $green;
    border-bottom: 3px solid $green;
  }

  div:nth-child(1) a:hover {
    color: $white;
    border-color: $green;
  }
}

.socials {
  display: flex;
  align-items: center;
  color: $green;
  font-weight: bold;

  &:hover {
    color: $red;
  }
}
