<div class="site-footer">
    <div class="site-footer-inner">
        <p>
            <b> All works © by Ryan Halpin, <span>{{ "test" | copyRightYear }}</span></b>
        </p>
        {# <div class="columns">
            <div class="column">
                
            </div>
            <div class="column">
                <div class="socials">
                    <a>
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <div></div> #}
    </div>

</div>