<div class="site-footer">
    <div class="site-footer-inner">
        <div>
            <b class="has-text-white"> All works © by Ryan Halpin, <span>{{ "test" | copyRightYear }}</span></b>
            <a class="socials" href="https://www.instagram.com/halpins_creations/">
                <i data-feather="instagram"></i>
            </a>
        </div>
    </div>
</div>