@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "./variables";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
@import "./components/nav";
@import "./components/image-card";
@import "./components/footer";

html,
body {
  background-color: $black;
  height: 100%;
}

.content>h1>* {
  color: $green;
}

.content>* {
  color: hsl(0, 0%, 96%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sriracha", cursive;
}

.image-border {
  border: 5px solid white;
}

.magnify-func {
  .magnify-outer {
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.65;

    i {
      pointer-events: none;
    }
  }
}

.feather {
  width: 30px;
}
