---
layout: layouts/base.njk
title: Title Strings
---

<div class="columns">
    <div class="column">
        <figure class="image image-border">
            <img  data-src="{{about_image}}?nf_resize=fit&w=&h=800" src="{{image}}?nf_resize=fit&w=&h=100" alt="Image of {{title}}" class="lazy" alt="image of '{{title}}'">
        </figure>
    </div>
    <div class="column">
        <div class="content">
            {{content | safe}}
        </div>
    </div>
</div>