---
layout: layouts/base.njk
title: Title Strings
---

<div class="columns">
    <div class="column">
        <div class="image-border">
            <figure class="image is-square is-fullwidth">
                <img data-src="{{about_image}}?nf_resize=fit&w=&h=800" alt="Image of {{img.data.title}}" class="lazy" src="{{about_image}}?nf_resize=fit&w=&h=50">
            </figure>
        </div>

    </div>
    <div class="column">
        <div class="content">
            {{content | safe}}
        </div>
    </div>
</div>