<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<script>
			document.documentElement.className = document
				.documentElement
				.className
				.replace(/\bno-js\b/g, '') + 'has-js ';
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Portfolio Website for Ryan Halpin">
		<meta name="keywords" content="art, design, portfolio, ryan, halpin, ireland, shirts, hiddenfacez">
		{# <meta name="description" content="{{ renderData.description or description or metadata.description }}"> #}
		{# <title>{{ renderData.title or title or metadata.title }}</title> #}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147196250-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-147196250-1');
		</script>

		<title>Ryan Halpin - Portfolio</title>

		<link rel="stylesheet" href="/styles/index.css">

		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
		<link rel="manifest" href="images/favicon/site.webmanifest">
	</head>
	<body id="top" itemscope itemtype="http://schema.org/WebPage">

		<section class="section">
			<div class="container has-text-white">
				{# Nav #}
				{%include "../components/nav.njk" %}
				{# Main Section #}
				{{content | safe}}
				{# Footer #}
				{%include "../components/footer.njk" %}
			</div>
		</section>

		<script src="/scripts/index.js"></script>
	</body>
</html>