<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147196250-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-147196250-1');
		</script>

		<meta charset="utf-8">
		<script>
			document.documentElement.className = document
				.documentElement
				.className
				.replace(/\bno-js\b/g, '') + 'has-js ';
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ryan Halpin is a artist / designer based in Dublin, Ireland. This is Ryan Halpin portfolio website.">
		<meta name="keywords" content="art,design,portfolio,ryan,halpin,ireland,shirts,hiddenfacez,logo,irish,ryanhalpin,ryan halpin">
		<!-- Apple Touch Icon (at least 200x200px) -->
		<link rel="apple-touch-icon" href="/custom-icon.png">

		<!-- To run web application in full-screen -->
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- Status Bar Style (see Supported Meta Tags below for available values) -->
		<!-- Has no effect unless you have the previous meta tag -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Microsoft Tiles -->
		<meta name="msapplication-config" content="browserconfig.xml">

		<meta property="og:url"                content="https://ryanhalpin.ie"/>
		<meta property="og:type"               content="portfolio"/>
		<meta property="og:title"              content="Ryan Halpin"/>
		<meta property="og:description"        content="Artist / Designer based in Dublin, Ireland"/>
		<meta property="og:image"              content="../../images/logo.png?nf_resize=fit&w=&h=200"/>

		<title>Ryan Halpin - Portfolio</title>

		<link rel="stylesheet" href="/styles/index.css">

		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/site.webmanifest">
	</head>
	<body id="top" itemscope itemtype="http://schema.org/WebPage">

		<section class="section">
			<div class="container has-text-white">
				{# Nav #}
				{%include "../components/nav.njk" %}
				{# Main Section #}
				{{content | safe}}
				{# Footer #}
				{%include "../components/footer.njk" %}
			</div>
		</section>

		<script src="/scripts/index.js"></script>
	</body>
</html>