<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js is-clipped">
	<head>

		<!-- Matomo Tag Manager -->
		<script type="text/javascript">
			var _mtm = _mtm || [];
			_mtm.push({
				'mtm.startTime': (new Date().getTime()),
				'event': 'mtm.Start'
			});
			var d = document,
				g = d.createElement('script'),
				s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.defer = true;
			g.src = 'https://cdn.matomo.cloud/ryanhalpin.matomo.cloud/container_Tc4BugSI.js';
			s
				.parentNode
				.insertBefore(g, s);
		</script>
		<!-- End Matomo Tag Manager -->

		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function () {
				var u = "https://ryanhalpin.matomo.cloud/";
				_paq.push([
					'setTrackerUrl', u + 'matomo.php'
				]);
				_paq.push(['setSiteId', '1']);
				var d = document,
					g = d.createElement('script'),
					s = d.getElementsByTagName('script')[0];
				g.type = 'text/javascript';
				g.async = true;
				g.defer = true;
				g.src = '//cdn.matomo.cloud/ryanhalpin.matomo.cloud/matomo.js';
				s
					.parentNode
					.insertBefore(g, s);
			})();
		</script>
		<!-- End Matomo Code -->

		<meta charset="utf-8">
		<script>
			document.documentElement.className = document
				.documentElement
				.className
				.replace(/\bno-js\b/g, '') + 'has-js ';
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ryan Halpin is a Artirst & Designer based in Dublin, Ireland. He makes all kinds of cool stuff.">
		<meta name="keywords" content="art,design,portfolio,ryan,halpin,ireland,shirts,hiddenfacez,logo,irish,ryanhalpin,ryan halpin,ireland,dublin,designer,design,artist">
		<!-- Apple Touch Icon (at least 200x200px) -->
		<link rel="apple-touch-icon" href="/custom-icon.png">

		<!-- To run web application in full-screen -->
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- Status Bar Style (see Supported Meta Tags below for available values) -->
		<!-- Has no effect unless you have the previous meta tag -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Microsoft Tiles -->
		<meta name="msapplication-config" content="browserconfig.xml">

		<meta property="og:url"                content="https://ryanhalpin.ie"/>
		<meta property="og:type"               content="portfolio"/>
		<meta property="og:title"              content="Ryan Halpin"/>
		<meta property="og:description"        content="Ryan Halpin is a Artirst & Designer based in Dublin, Ireland. He makes all kinds of cool stuff."/>
		<meta property="og:image"              content="https://www.ryanhalpin.ie/images/logo.png?nf_resize=fit&w=&h=200"/>
		<meta name="robots" content="noodp,noydir"/>

		<title>Ryan Halpin {{ title }}</title>

		<link rel="stylesheet" href="/styles/index.css">

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body id="top" class="fade-out" itemscope itemtype="http://schema.org/WebPage">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWHRT5H"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="base--wrapper">
			<div class="container">
				<div class="inner--wrapper">

					{# Nav #}
					{%include "../components/nav.njk" %}
					{# Main Section #}
					<div class="content--wrapper">
						{{content | safe}}
					</div>
					{# Footer #}
					{%include "../components/footer.njk" %}
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/feather-icons"></script>
		<script>
			feather.replace()
		</script>
		<script src="/scripts/index.js"></script>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "Ryan Halpin",
				"url": "https://www.ryanhalpin.ie",
				"sameAs": ["https://www.instagram.com/halpins_creations/"]
			}
		</script>
	</body>
</html>