---
layout: layouts/base.njk
title: Contact
---

<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        <div class="section content">
            {{content | safe}}
        </div>

        <div class="section contact">
            <form name="contact" method="POST" data-netlify="true">

                <div class="field">
                    <div class="control">
                        <input class="input" placeholder="Name" type="text" required name="name"/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" placeholder="Email" type="email" required name="email"/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Message" required name="message"></textarea>
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-dark" type="submit">
                        <span>👋 Say Hi (send)</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="column is-one-quarter"></div>
</div>