---
layout: layouts/base.njk
title: Contact
---

<form name="contact" method="POST" data-netlify="true">

    <div class="field">
        <div class="control">
            <input class="input" placeholder="Name" type="text" name="name"/>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input" placeholder="Email" type="email" name="email"/>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <textarea class="textarea" placeholder="Message" name="message"></textarea>
        </div>
    </div>

    <p>
        <button class="button is-link" type="submit">Send</button>
    </p>
</form>