---
layout: layouts/base.njk
title: Title Strings
priority: 1
---

<div class="columns is-multiline is-mobile">
    {% for img in collections.portfolio %}
        <div class="column is-6-desktop is-6-tablet is-6-mobile image-card">
            <a href="{{ img.url }}" class="image-link">
                <figure class="image is-square is-fullwidth">
                    <img data-src="{{img.data.image}}?nf_resize=fit&w=480&h=480" class="lazy" src="{{img.data.image}}?nf_resize=fit&w=&h=50">
                </figure>
                <div class="card">
                    <h2 class="title has-text-white">{{img.data.title}}</h2>
                    <h3 class="subtitle has-text-light">
                        Find out more
                    </h3>
                </div>
            </a>
        </div>
    {% endfor %}
</div>