---
permalink: /sitemap.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
    <url>
      <loc>https://www.ryanhalpin.ie{{ item.url }}</loc>
      {% if item.data.premier.date -%}
        <lastmod>{{ item.data.premier.date | formatDate}}</lastmod>
      {%- else -%}
        <lastmod>{{ item.date | formatDate }}</lastmod>
      {%- endif %}
      <changefreq>monthly</changefreq>
      {% if item.data.priority -%}
        <priority>{{ item.data.priority }}</priority>
      {%- else -%}
        <priority>0.5</priority>
      {%- endif %}
    </url>
  {%- endfor %}
</urlset>